body{
	font-size: 1.0em;
	background-color:rgb(228,242,242);
	font-family: arial;
	color: #68d0f0;
}
h1 {
	color: #fad;
	background-color: #104;
	font-size: 2.0em;
	font-family: helvetica;
	border-style: dashed;
	border-width: 3px;
	border-left-width: 10px;
	border-right-width:10px;
	border-color: red;
}
p{
	font: sans-serif;
}
h2{
	font: oblique;
	font-family: fantasy,arial,helvetica;
	font-size: 1.5em;
}	
	
#login {
	font: 1em/1.5 "Times New Roman", times, serif;
	padding: 3em 1em;
	border: 1px black solid;
	border-width: 1px 5px 5px 1px;
	border-color: red green blue yellow;
	margin: 1em 5em;
}
